<template>
  <div v-if="isExternalLink">
    <a :href="url" :class="classList">
      <i :class="icon"></i> {{name}}
      <b-badge v-if="badge && badge.text" :variant="badge.variant">{{badge.text}}</b-badge>
    </a>
  </div>
  <div v-else>
        <router-link :to="url" :class="classList" v-if="name!=='Logout' && have_token" >
          <i :class="icon"></i> {{name}}
          <b-badge v-if="badge && badge.text" :variant="badge.variant">{{badge.text}}</b-badge>
        </router-link>
      <router-link :to="url" :class="classList" v-else-if="(name!=='Logout' && (name==='Markets' || name==='Token Market' || name==='ICO' || name==='Minepool' || name==='Community' || name==='Wallet')) && !have_token" >
          <i :class="icon"></i> {{name}}
          <b-badge v-if="badge && badge.text" :variant="badge.variant">{{badge.text}}</b-badge>
      </router-link>
        <div class="nav-link-disabled" v-else-if="name!=='Logout'">
            <i v-bind:class="icon"></i> {{name}}
        </div>
        <div v-else>
          <a v-bind:href="url" class="nav-link"><i v-bind:class="icon"></i> {{name}}
          <!----></a>
        </div>
  </div>
</template>

<script>
    require('../../bootstrap.js');

export default {
    name: 'sidebar-nav-link',

    props: {

        name: {

            type: String,
            default: ''
        },

        url: {

            type: String,
            default: ''
        },

        icon: {

            type: String,
            default: ''
        },

        badge: {

            type: Object,
            default: () => {}
            },

        variant: {

            type: String,
            default: ''
        },

        classes: {
            type: String,
            default: ''
        }

    },

    data() {

        return {

            have_token: ''
        }
    },

    computed: {

        classList () {

            return [
                'nav-link',
                this.linkVariant,
                ...this.itemClasses
            ]
        },

        linkVariant () {

            return this.variant ? `nav-link-${this.variant}` : ''
        },

        itemClasses () {

            return this.classes ? this.classes.split(' ') : []
        },

        isExternalLink () {

            if (this.url.substring(0, 4) === 'http') {

                return true
            } else {

                return false
            }
        }
    },

    created() {

        this.have_token = ConfigJS.get_user().have_token;
    }
}
</script>
