<template>
  <aside class="aside-menu">
    <div style="padding: 15px;">
      <h3><b>Channel:</b> NEXT</h3>
    <div class="message">
      <div class="py-3 pb-5 mr-3 float-left">
        <div class="avatar">
          <img src="img/23.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
          <span class="avatar-status badge-success"></span>
        </div>
      </div>
      <div>
        <small class="text-muted">Christiaan van Steenbergen</small>
        <small class="text-muted float-right mt-1">1:51 PM</small>
      </div>
      <div class="text-truncate font-weight-bold">New tokensale is opened</div>
      <small class="text-muted">We are more than happy to announce that the tokensale is opened for new investors on December 14th...</small>
    </div>
    <hr>
    <div class="message">
      <div class="py-3 pb-5 mr-3 float-left">
        <div class="avatar">
          <img src="img/33.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
          <span class="avatar-status badge-success"></span>
        </div>
      </div>
      <div>
        <small class="text-muted">Ben Doorenbos</small>
        <small class="text-muted float-right mt-1">3:11 PM</small>
      </div>
      <div class="text-truncate font-weight-bold">150% ROI</div>
      <small class="text-muted">I buy tokens during the presale and happy to make a ROI of over 150%...</small>
    </div>
    <hr>
    <div class="message">
      <div class="py-3 pb-5 mr-3 float-left">
        <div class="avatar">
          <img src="img/43.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
          <span class="avatar-status"></span>
        </div>
      </div>
      <div>
        <small class="text-muted">Melanie Holeczek</small>
        <small class="text-muted float-right mt-1">8:52 AM</small>
      </div>
      <div class="text-truncate font-weight-bold">Can I still buy tokens?</div>
      <small class="text-muted">I hope it's still possible to buy NEXT tokens...</small>
    </div>
    <hr>
    <div class="message">
      <div class="py-3 pb-5 mr-3 float-left">
        <div class="avatar">
          <img src="img/83.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
          <span class="avatar-status"></span>
        </div>
      </div>
      <div>
        <small class="text-muted">Dennis Hodimovic</small>
        <small class="text-muted float-right mt-1">10:02 PM</small>
      </div>
      <div class="text-truncate font-weight-bold">Price goes up and up unbelievable</div>
      <small class="text-muted">I sold my for 6 cents a piece, it was better to wait...</small>
    </div>
    <hr>
    <div class="message">
      <div class="py-3 pb-5 mr-3 float-left">
        <div class="avatar">
          <img src="img/83.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
          <span class="avatar-status"></span>
        </div>
      </div>
      <div>
        <small class="text-muted">Lukasz Holeczek</small>
        <small class="text-muted float-right mt-1">7:52 PM</small>
      </div>
      <div class="text-truncate font-weight-bold">Go go go NEXT</div>
      <small class="text-muted">Great project, it is just what we need to get the best trades, thanks NEXT..</small>
    </div>
    </div>
  </aside>
</template>

<script>
export default {
  name: 'aside_vue'
}
</script>
