<template>
  <ol class="breadcrumb">
    <li class="breadcrumb-item" v-for="(item, index) in list">
      <span class="active" v-if="isLast(index)">{{ showName(item) }}</span>
      <router-link :to="item" v-else>{{ showName(item) }}</router-link>
    </li>
    <li class="breadcrumb-menu">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="dropdown">
          <a class="btn dropdown-toggle" href="javascript:void(null)" data-toggle="dropdown"><i class="icon-speech"></i> &nbsp;Messages</a>
          <ul class="dropdown-menu mt-1 px-2">
            <li>&nbsp;</li>
            <li>This is currently not available.</li>
            <li>&nbsp;</li>
          </ul>
        </div>
        <a class="btn" href="exchange#/profile"><i class="icon-settings"></i> &nbsp;Settings</a>
        <a v-if="user_type == 1" class="btn" href="exchange#/change-password"><i class="icon-key"></i>
          &nbsp;Change Password.</a>

      </div>
    </li>
  </ol>
</template>

<script>
    export default {
        props: {
            list: {
                type: Array,
                required: true,
                default: () => []
            }
        },
        data() {
            return {
                user_type :0,
            }
        },
        methods: {
            isLast (index) {
                return index === this.list.length - 1
            },
            showName (item) {
                if (item.meta && item.meta.label) {
                    item = item.meta && item.meta.label
                }
                if (item.name) {
                    item = item.name
                }
                return item
            },
            getUser: function() {
                axios.get('api/currentUser').then((res) => {
                    this.user_type = res.data.user_type;
                });
            }
        },

        beforeMount(){
            this.getUser()
        }
    }

</script>
