<template>
  <!-- <footer class="app-footer">
    <span>&copy;2017-2018 NEXT.exchange, a trademark of OpenTrader N.V.</span>
  </footer>
  -->
</template>
<script>
export default {
  name: 'footer_vue'
}
</script>
