<template>
  <!-- Page Header -->
  <div class="page-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7">
          <h1 class="h2 page-title">Root Admin</h1>
          <div class="text-muted page-desc">Welcome to ROOT Bootstrap 4 Admin Template.</div>
        </div>
        <div class="col-md-5 charts">
          <div class="row">
            <div class="col-12 col-sm-4">
              <div class="chart-wrapper" style="height:33px">
                <canvas id="header-chart-1" class="chart" height="33"></canvas>
              </div>
              <div class="text-center title">
                <span class="text-muted">Income: </span>
                <strong>$189.128</strong>
              </div>
            </div>
            <div class="col-6 col-sm-4">
              <div class="chart-wrapper" style="height:33px">
                <canvas id="header-chart-2" class="chart" height="33"></canvas>
              </div>
              <div class="text-center title">
                <span class="text-muted">New clients: </span>
                <strong class="text-danger">1.128</strong>
              </div>
            </div>
            <div class="col-6 col-sm-4">
              <div class="chart-wrapper" style="height:33px">
                <canvas id="header-chart-3" class="chart" height="33"></canvas>
              </div>
              <div class="text-center title">
                <span class="text-muted">Orders: </span>
                <strong class="text-success">2.345</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {

    }
</script>
