<template>
    <div class="animated fadeIn">
        <div class="row container-fluid">
            <div class="col-lg-12">
                <h2>(PRE)ICO listing</h2>
                <h4>Be the first when new (pre)ICO are announced</h4>
                <p>Only on NEXT, you will find the best ICO's which will hit the market. And the best of all, after the ICO is finished, it's directly tradeable on NEXT.</p>

                <div class="col-sm-6 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="h4 m-0">MINE (MINE)</div>
                            <div class="badge badge-success">Operational</div>
                            <div>Invest in a large and professional mining farm for cryptocurrencies in a private datacenter.</div>
                            <div class="progress progress-xs my-3">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <small class="text-muted">
                                <b>Location:</b> the Netherlands<br>
                                <b>Soft-Hard cap:</b> 300-3000 ETH<br>
                                <b>ROI:</b> 300%<br>
                                <b>ICO Dates:</b> <br>March 15th - April 30th, 2018<br>
                                <b>ICO Bonus:</b> <br>40% till March 31th, 20% till End<br>
                                <b>Price:</b><br>1 ETH = 4032 MINE (incl. bonus)<br>
                                <b>Send ETH to:</b><br>0x2Ef35963b7afaA07B3d5d0d36eA4dE0cC3Ae2405<br>

                                <br>

                                <button class="btn btn-sm btn-outline-primary btn-block text-black" v-on:click="addrss = (addrss==1)? 0 : 1"><i class="fa fa-level-down"></i>&nbsp; Add Whitelist Address </button>

                                <div v-if="addrss==1">
                                    <div class="input-group input-group-sm">
                                        <input class="form-control" id='eth' placeholder="Enter ETH address.." required type="text" v-model="eth" >
                                        <span class="input-group-btn">
                            <button class="btn btn-success" v-on:click="addaddress()" type="button"> Submit></button>
                        </span>
                                    </div>
                                    <span v-if="errorflag">Whitelist address is required</span>
                                    <div id="loader-div" class=""></div>
                                    <div id="spinner" class=""></div>
                                </div>

                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'ico',

        data() {
            return {
                addrss :0,
                errorflag: false,
                eth: '',
                ico_id: 75,
            }
        },
        methods: {
            addaddress() {
                let self    = this;
                if(this.eth)
                {
                    $('#spinner').addClass('spinner-bg');
                    $('#loader-div').addClass('loading');
                    $('body').find('.btn btn-success').attr('disabled','disabled');

                    let data = {
                        'eth': this.eth,
                        'ico_id': this.ico_id
                    };

                    axios.post('/icowhitelist', data).then((res) => {
                        console.log(res);
                        if( res.data.success == 1 ) {
                            this.addrss = 0;
                            this.eth = '';
                            $('#spinner').removeClass('spinner-bg');
                            $('#loader-div').removeClass('loading');
                            self.$swal({
                                title: 'ICO Address',
                                text: "You have successfully whitelist your address",
                                type: 'success',
                                confirmButtonText: 'OK',
                                showConfirmButton: true

                            }).then((result)=>{
                                if(result.hasOwnProperty('dismiss')) return false;
                                if (result) {
                                }
                            }).catch(this.$swal.noop);

                        }
                        else {

                            this.errorflag  = true;
                            $('#spinner').removeClass('spinner-bg');
                            $('#loader-div').removeClass('loading');
                        }
                    });

                }else{
                    this.errorflag = true;
                }
            }
        }

    }
</script>