<template>
    <div class="animated fadeIn container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <div class="chart-wrapper" style="height:405px;margin-top:20px;">
                            <div id="coin-chart" style="text-align: center; vertical-align: middle; display: table;">
                                <div class="container" style="text-align: center; vertical-align: middle;">
                                    <div class="content" style="display: inline-block; text-align: center">
                                        <h1>Only NEXT Token Holders can access this page!</h1>
                                        <p>Become also a NEXT tokenholder and buy your tokens here:<br><br>
                                            <a href="https://idex.market/eth/next" target="_blank">IDEX</a><br></p>
                                            <a href="/exchange/basic/next">NEXT</a>
                                        <br><br>
                                        <small>To get all benefits you need at least 100 NEXT tokens</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "not-found"
    }
</script>

<style scoped>

    .container {
        color: #B0BEC5;
    }
</style>