<template>
  <div class="animated fadeIn container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header" style="display: inherit">
            <i class="icon-chart text-muted mr-1" style="margin-top: 0.7em;"></i>
              <div style="padding: 0 .15em;">
                  <v-select v-model="selected_coin" label="symbol" :options="coins"></v-select>
            </div>
          <span style="margin-top: .5em;">TOKEN</span>
          </div>
            <div class="spinner-wrapper">
              <div class="card-block">
                <div class="chart-wrapper" style="height:405px;margin-top:20px;">
                      <div id="coin-chart">
                      </div>
                </div>
              </div>
              <div class="card-footer">
            <strong>${{ chartTotal }}</strong>
            <span class="float-right"><i class="fa" v-bind:class = "chartUpDown.sign"></i> {{ chartUpDown.updown }}</span>
          </div>
                <div id="loader-div" class=""></div>
                <div id="spinner" class=""></div>
            </div>
        </div>
        <!--/.card-->
      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="icon-chart text-muted mr-1"></i><B>ORDERBOOK</B>
          </div>
            <div class="spinner-wrapper">
          <div class="card-block">

             <div style="max-height:405px; margin-top:20px; overflow-x: hidden; overflow-y: auto">
                <div class="row" id="rpane-sell" v-for = "itemSell in sellListSorted" v-bind:class="itemSell.order_user_id == user_id ? 'font-weight-bold' : 'font-weight-normal'">
                  <div class="col-4 text-danger">{{ itemSell.order_price|format_decimals }}</div>
                  <div class="col-4 text-danger">{{ itemSell.order_amount }}</div>
                  <div class="col-4 text-danger">{{ itemSell.order_total|format_decimals }}</div>
                </div>

                 <div class="row border border-left-0 border-right-0 pt-2 pb-2" v-if="Object.keys(buyList).length || Object.keys(sellList).length">
                     <div class="col-4"><B>{{ coin_title }}/<br />{{ market_title }}</B> </div>
                     <div class="col-4"><B>{{ market_title }}</B></div>
                     <div class="col-4"><B>{{ coin_title }}</B></div>
                 </div>

                <div class="row" id="rpane-buy" v-for = "itemBuy in buyListSorted" v-bind:class="itemBuy.order_user_id == user_id ? 'font-weight-bold' : 'font-weight-normal'">
                  <div class="col-4 text-success">{{ itemBuy.order_price|format_decimals }}</div>
                  <div class="col-4 text-success">{{ itemBuy.order_amount }}</div>
                  <div class="col-4 text-success">{{ itemBuy.order_total|format_decimals }}</div>
                </div>
             </div>
          </div>
          <div class="card-footer">
            <strong>{{ totalTrades }} trades</strong>
            <span class="float-right"><i class="fa " v-bind:class = "percentageUpDown.sign"></i> {{ percentageUpDown.updown }}</span>
          </div>
                <div class="orderbook-exchange-loader" ></div>
                <div class="orderbook-exchange-spinner" ></div>
            </div>
        </div>
      </div>
    </div>
      <!--/.col-->
        <div class="row">
          <div class="col-lg-6">
              <div class="spinner-wrapper">
            <div class="card">
              <div class="card-header">
                <div class="box-left">Buy</div>
                <div class="box-right"><i>Available {{ transaction_coin.coin_coin }}</i>: <strong>{{ wallet_balance }}</strong></div>
              </div>
                <transition name="fade" >
                    <div class="alert alert-success" role="alert" style="text-align: center; z-index: 1000" v-if="order_success_BUY">
                        <strong>Your order for buying {{ selected_coin.symbol }} {{ order_amount_BUY }}@{{order_price_BUY}} is placed.</strong>
                    </div>
                </transition>
                <transition name="fade" >
                    <div v-bind:class="fee_msg_class" role="alert" style="text-align: center; z-index: 1000" v-if="fee_msg_BUY">
                        <strong v-html="fee_msg_BUY"></strong>
                    </div>
                </transition>
              <div class="card-block">

                  <div class="form-group row">
                    <label for="inputAmountBuy" class="col-sm-2 col-form-label">Amount</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                      <input class="form-control form-control-lg" type="number" min="0" placeholder="Amount" v-model="order_amount_BUY">
                        <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" disabled>{{ selected_coin.symbol }}</button>
                      </span>
                    </div>
                        <span class="text-danger" v-if="order_error_BUY.order_amount"> {{ order_error_BUY.order_amount }}</span>
                  </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPriceBuy" class="col-sm-2 col-form-label">Price</label>

                    <div class="col-sm-10">
                      <div class="input-group">
                      <input class="form-control form-control-lg" type="number" id="inputPriceBuy" placeholder="Price" v-model="order_price_BUY" min="0">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ transaction_coin.coin_coin }}
                            </button>
                            <div class="dropdown-menu dropdown-menu-left">
                                <a class="dropdown-item" href="javascript:void(null)" v-on:click="set_transaction_coin(trans_coin)" v-for="trans_coin in transaction_coins">{{ trans_coin.coin_coin }}</a>
                            </div>
                        </div>
                      </div>
                        <span class="text-danger" v-if="order_error_BUY.order_price"> {{ order_error_BUY.order_price }}</span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputTotalBuy" class="col-sm-2 col-form-label">Total</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                      <input class="form-control form-control-lg" type="number" placeholder="Total" readonly v-model="order_total_BUY">
                        <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" disabled>{{ transaction_coin.coin_coin }}</button>
                      </span>
                      </div>
                        <span class="text-danger" v-if="order_error_BUY.order_total"> {{ order_error_BUY.order_total }}</span>
                    </div>
                  </div>
            </div>
              <button type="button" class="btn btn-primary btn-lg btn-block" v-on:click="save_order('BUY')" :disabled="buy_price_negative || buy_amount_negative">Buy {{ selected_coin.symbol }}</button>
          </div>
                  <div class="loading" v-if="spinner_BUY"></div>
                  <div class="spinner-bg" v-if="spinner_BUY"></div>
              </div>
          </div>
          <!--/.col-->
          <div class="col-lg-6">
                <div class="spinner-wrapper">
                  <div class="card">
                      <div class="card-header">
                          <div class="box-left">Sell</div>
                          <div class="box-right"><i>Available {{ selected_coin.symbol }}</i>: <strong>{{ wallet_orders }}</strong></div>
                      </div>
                      <transition name="fade" >
                          <div class="alert alert-success" role="alert" style="text-align: center; z-index: 1000" v-if="order_success_SELL">
                              <strong>Your order for selling {{ selected_coin.symbol }} {{ order_amount_SELL }}@{{order_price_SELL}} is placed.</strong>
                          </div>
                      </transition>
                      <transition name="fade" >
                          <div v-bind:class="fee_msg_class" role="alert" style="text-align: center; z-index: 1000" v-if="fee_msg_SELL">
                              <strong v-html="fee_msg_SELL"></strong>
                          </div>
                      </transition>
                      <div class="card-block">
                          <div class="form-group row">
                              <label for="inputAmountSell" class="col-sm-2 col-form-label">Amount</label>
                              <div class="col-sm-10">

                                  <div class="input-group">
                                      <input name="order_amount_sell" class="form-control form-control-lg" type="number" placeholder="Amount" v-model="order_amount_SELL">
                                      <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" disabled>{{ selected_coin.symbol }}</button>
                      </span>
                                  </div>
                                  <span class="text-danger" v-if="order_error_SELL.order_amount"> {{ order_error_SELL.order_amount }}</span>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label for="inputPriceSell" class="col-sm-2 col-form-label">Price</label>

                              <div class="col-sm-10">
                                  <div class="input-group">
                                      <input class="form-control form-control-lg" type="number" placeholder="Price" v-model="order_price_SELL" min="0" >
                                      <div class="input-group-btn">
                                          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                              {{ transaction_coin.coin_coin }}
                                          </button>
                                          <div class="dropdown-menu dropdown-menu-left">
                                              <a class="dropdown-item" href="javascript:void(null)" v-on:click="set_transaction_coin(trans_coin)" v-for="trans_coin in transaction_coins">{{ trans_coin.coin_coin }}</a>
                                          </div>
                                      </div>
                                  </div>
                                  <span class="text-danger" v-if="order_error_SELL.order_price"> {{ order_error_SELL.order_price }}</span>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label for="inputTotalBuy" class="col-sm-2 col-form-label">Total</label>
                              <div class="col-sm-10">

                                  <div class="input-group">
                                      <input class="form-control form-control-lg" type="number" placeholder="Total" readonly v-model="order_total_SELL">
                                      <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" disabled>{{ transaction_coin.coin_coin }}</button>
                      </span>
                                  </div>
                                  <span class="text-danger" v-if="order_error_SELL.order_total"> {{ order_error_SELL.order_total }}</span>
                              </div>
                          </div>
                      </div>
                      <button type="button" class="btn btn-primary btn-lg btn-block" v-on:click="save_order('SELL')" :disabled="sell_amount_negative || sell_price_negative">Sell {{ selected_coin.symbol }}</button>
                  </div>
                    <div class="loading" v-if="spinner_SELL"></div>
                    <div class="spinner-bg" v-if="spinner_SELL"></div>
                </div>
          </div>
    </div>

      <!-- EXCHANGE DISPLAY -->
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-header">
                      Exchange Options
                  </div>
                  <div class="spinner-wrapper">
                      <div class="card-block">
                          <div class="row p-3 mb-2 bg-light" v-if="Object.keys(exchange_orders).length">
                              <div class="col-sm">
                                  <strong>{{ coin_title }} / {{ market_title }} </strong>
                              </div>
                              <div class="col-sm">
                                  <strong>{{ market_title }}</strong>
                              </div>
                              <div class="col-sm">
                                  <strong>{{ coin_title }}</strong>
                              </div>
                              <div class="col-sm">
                                  Date
                              </div>
                              <div class="col-sm">
                                  &nbsp;
                              </div>
                          </div>
                          <div  v-for = "(item_exchange, index) in exchange_orders">
                              <div class="row p-3 mb-2 text-success" >
                                  <div class="col-sm" >
                                      {{ item_exchange.order_price|format_decimals }}
                                  </div>
                                  <div class="col-sm">
                                      {{ item_exchange.order_amount|format_decimals }}
                                  </div>
                                  <div class="col-sm">
                                      {{ item_exchange.order_total|format_decimals }}
                                  </div>
                                  <div class="col-sm">
                                      {{ item_exchange.updated_at|format_date }}
                                  </div>
                                  <div class="col-sm">
                                      <button type="button" class="btn btn-outline-secondary" v-on:click="exchange_order(item_exchange.order_id, index)" v-if="item_exchange.order_user_id !=  user_id">Accept</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div id="loader-div-exchange" class="orderbook-exchange-loader"></div>
                      <div id="spinner-exchange" class="orderbook-exchange-spinner"></div>
                  </div>
              </div>
          </div>
      </div>

      <!-- ORDER DISPLAY -->
      <div class="row">
         <div class="col-12">
             <div class="card">
                 <div class="card-header">
                     Orders
                 </div>
                 <div class="spinner-wrapper">
                 <div class="card-block">
                     <span v-for="(order, index) in user_orders">
                     <div class="row p-3 mb-2 bg-light" v-if="index===0">
                         <div class="col-sm">
                             <strong>{{ order.order_maincoin }} / {{ order.order_market }} </strong>
                         </div>
                         <div class="col-sm">
                             <strong>{{ order.order_market }}</strong>
                         </div>
                         <div class="col-sm">
                             <strong>{{ order.order_maincoin }}</strong>
                         </div>
                         <div class="col-sm">
                             &nbsp;
                         </div>
                     </div>
                     <div class="row p-3 mb-2 bg-light" v-else-if="(order.order_maincoin != user_orders[index-1].order_maincoin) || (order.order_market != user_orders[index-1].order_market)">
                         <div class="col-sm">
                             <strong>{{ order.order_maincoin }} / {{ order.order_market }} </strong>
                         </div>
                         <div class="col-sm">
                             <strong>{{ order.order_market }}</strong>
                         </div>
                         <div class="col-sm">
                             <strong>{{ order.order_maincoin }}</strong>
                         </div>
                         <div class="col-sm">
                             &nbsp;
                         </div>
                     </div>

                     <div class="row p-3 mb-2" v-bind:class="{'text-success': order.order_buysell == 1, 'text-danger': order.order_buysell == 2}" >
                         <div class="col-sm" >
                            {{ order.order_price|format_decimals }}
                         </div>
                         <div class="col-sm">
                             {{ order.order_amount|nodecimal_places }}
                         </div>
                         <div class="col-sm">
                             {{ order.order_total|format_decimals }}
                         </div>
                         <div class="col-sm">
                             <button type="button" class="btn btn-outline-secondary" v-on:click="deleteOrder(order.order_id, index)">Delete</button>
                         </div>
                     </div>
                     </span>
                 </div>
                     <div id="loader-div-orders" class=""></div>
                     <div id="spinner-orders" class=""></div>
                 </div>
             </div>
         </div>

     </div>

      <!-- TRANSACTION DISPLAY -->
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-header">
                      Executed Orders
                  </div>
                  <div class="spinner-wrapper">
                  <div class="card-block">
                     <div v-for="(user_transaction, index) in user_transactions">
                     <div class="row p-3 mb-2 bg-light" v-if="index===0">
                         <div class="col-sm">
                             <strong>{{ user_transaction.order_maincoin }} / {{ user_transaction.order_market }} </strong>
                         </div>
                         <div class="col-sm">
                             <strong>{{ user_transaction.order_market }}</strong>
                         </div>
                         <div class="col-sm">
                             <strong>{{ user_transaction.order_maincoin }}</strong>
                         </div>
                         <div class="col-sm">
                             Date
                         </div>
                     </div>
                     <div class="row p-3 mb-2 bg-light" v-else-if="(user_transaction.order_maincoin != user_transactions[index-1].order_maincoin) || (user_transaction.order_market != user_transactions[index-1].order_market)">
                         <div class="col-sm">
                             <strong>{{ user_transaction.order_maincoin }} / {{ user_transaction.order_market }} </strong>
                         </div>
                         <div class="col-sm">
                             <strong>{{ user_transaction.order_market }}</strong>
                         </div>
                         <div class="col-sm">
                             <strong>{{ user_transaction.order_maincoin }}</strong>
                         </div>
                         <div class="col-sm">
                             Date
                         </div>
                     </div>

                     <div class="row p-3 mb-2" v-bind:class="{'text-success': user_transaction.order_buysell == 1, 'text-danger': user_transaction.order_buysell == 2}" >
                         <div class="col-sm" >
                            {{ user_transaction.order_price|format_decimals }}
                         </div>
                         <div class="col-sm">
                             {{ user_transaction.order_amount|nodecimal_places }}
                         </div>
                         <div class="col-sm">
                             {{ user_transaction.order_total|format_decimals }}
                         </div>
                         <div class="col-sm">
                             {{ user_transaction.update_at|format_date }}
                         </div>
                     </div>
                     </div>
                  </div>
                      <div id="loader-div-transactions" class=""></div>
                      <div id="spinner-transactions" class=""></div>
                  </div>
              </div>
          </div>
      </div>
      <notifications group="notify-user" position="bottom right" />
      <audio ref="audioElm" src="../sounds/transaction-notify.mp3"></audio>
      </div>

</template>

<style>
    .normalbg { background-color: #FFFFFF}
    .buybg { background-color: #b0f4d1}
    .sellbg { background-color: #FFE5E5}

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0
    }
</style>
<script>

    let highChart   = require('highcharts/highstock');
    require('highcharts/modules/exporting')(highChart);
    require('highcharts/highcharts-more')(highChart);
    require('highcharts/indicators/indicators')(highChart);
    require('highcharts/indicators/volume-by-price')(highChart);

    let numeral     = require('numeral');
    let moment      = require('moment');
    let math        = require('mathjs');

export default {

    name: 'orderbook',
    data() {
        return {
            user_id: 0,

            transaction_coins: [{}],
            transaction_coin: {},

            ordersRequest: null,
            chartRequest: null,
            executedOrdersRequest: null,

            coin_title: '',
            market_title: '',
            ob_current: '', //Orderbook current item

            coins: [{}],
            selected_coin: '',

            order_amount_BUY: '',
            order_price_BUY: '',
            order_total_BUY: '',
            trans_type_BUY: '',
            trans_errors_BUY: {},
            wallet_balance: 0,
            coin_available_BUY: '',
            order_success_BUY: false,

            buy_amount_negative: true,
            buy_price_negative: true,

            spinner_BUY: true,
            spinner_SELL: true,

            order_amount_SELL: '',
            order_price_SELL: '',
            order_total_SELL: '',
            trans_type_SELL: '',
            trans_errors_SELL: {},
            wallet_orders: 0,
            coin_available_SELL: '',
            order_success_SELL: false,

            sell_amount_negative: true,
            sell_price_negative: true,

            fee_msg_class: null,
            fee_msg_BUY: null,
            fee_msg_SELL: null,

            exchange_orders: [],

            user_orders: {},
            user_transactions: [],

            order_error_BUY: {},
            order_error_SELL: {},

            /* Storing Latest BUY/SELL action */
            buyList : [],
            sellList : [],

            totalTrades : 0,

            chartInit: true,
            chartData: [],
            chartTotal: 0,
            chartUpDown: {}
        }
    },

    created: function() {

        this.set_current_user();
        //Loading main coins.
        this.loadCoins();
        this.fetchUserOrders();
        this.fetchUserTransactions();
    },

    mounted: function() {
        //initial loading of spinners
        $('#spinner-ob').addClass('spinner-bg');
        $('#loader-div-ob').addClass('loading');

        $('#spinner').addClass('spinner-bg');
        $('#loader-div').addClass('loading');

        $('.orderbook-exchange-spinner').toggleClass('spinner-bg');
        $('.orderbook-exchange-loader').toggleClass('loading');

        $('#spinner-transactions').addClass('spinner-bg');
        $('#loader-div-transactions').addClass('loading');

        //Listening new orders from server
        this.listenOrders();
    },

    watch: {

        transaction_coins: function () {

            let default_coin        = this.$route.params.coin !== undefined ? this.$route.params.coin : 'BTC';
            this.transaction_coin	= this.setDefaultCoin( default_coin );
        },

        transaction_coin: function () {

                this.fetchWalletBalance();
                //Loading orderbook only after setting the default main coin.
                this.fetchOrders();
        },

        coins: function () {
            let default_market  = this.$route.params.market !== undefined ? this.$route.params.market : 'ETH';
            this.selected_coin  = this.setSelectedCoin( default_market );

        },

        selected_coin:function () {
            this.chartDisplay();
            this.fetchOrders();
            this.fetchExecutedOrders();
        },

        order_amount_BUY: function () {

            if(this.order_amount_BUY == '') {

                this.order_total_BUY                = '';
                this.order_error_BUY.order_amount   = '';
                return false;
            }

            this.buy_amount_negative    = false;

            if(this.order_total_BUY <= this.wallet_balance) {
                this.order_error_BUY.order_total = '';
            }

            if(this.order_amount_BUY <= 0) {

                this.order_error_BUY.order_amount = 'Please enter a value greater than Zero';
                this.buy_amount_negative    = true;
                return false;

            }else if(this.order_amount_BUY != '') {
                this.order_error_BUY.order_amount = '';
            }

            this.calculateBuy();
        },

        order_price_BUY: function () {

            if(this.order_price_BUY == '') {

                this.order_total_BUY                = '';
                this.order_error_BUY.order_price    = '';
                return false;
            }

            this.buy_price_negative = false;

            if(this.order_error_BUY.order_price != '') {
                this.order_error_BUY.order_price = '';
            }

            if(this.order_total_BUY <= this.wallet_balance) {
                this.order_error_BUY.order_total = '';
            }

            if(this.order_price_BUY <= 0) {
                this.order_error_BUY.order_price = 'Please enter a value greater than Zero';
                this.buy_price_negative = true;
                return false;
            }

            this.calculateBuy();
        },

        order_amount_SELL: function () {

            if(this.order_amount_SELL == '') {

                this.order_total_SELL              = '';
                this.order_error_SELL.order_amount = '';
                return false;
            }

            this.sell_amount_negative    = false;

            if(this.order_amount_SELL <= this.wallet_orders) {
                this.order_error_SELL.order_amount = '';
            }

            if(this.order_amount_SELL <= 0) {
                this.order_error_SELL.order_amount = 'Please enter a value greater than Zero';
                this.sell_amount_negative    = true;
                return false;
            }

            this.calculateSell();
        },

        order_price_SELL: function () {

            if(this.order_price_SELL == '') {

                this.order_total_SELL              = '';
                this.order_error_SELL.order_price   = '';
                return false;
            }

            this.sell_price_negative   = false;

            if(this.order_amount_SELL <= this.wallet_orders) {
                this.order_error_SELL.order_amount = '';
            }

            if(this.order_price_SELL <= 0 ) {
                this.order_error_SELL.order_price = 'Please enter a value greater than Zero';
                this.sell_price_negative   = true;
                return false;
            } else if(this.order_price_SELL != '') {
                this.order_error_SELL.order_price = '';
            }

            this.calculateSell();
        },

        buyList: function () {
            this.totalTrades   = (this.buyList).length + (this.sellList).length;
        },

        sellList: function () {
            this.totalTrades   = (this.buyList).length + (this.sellList).length;
        }
    },

    computed: {

        buyListSorted: function() {
            return _.orderBy(this.buyList, 'order_price' , 'desc');
        },

        sellListSorted: function() {
            return _.orderBy(this.sellList, 'order_price' , 'desc');
        },

        percentageUpDown: function () {

            let grandTotalBuy   = 0;
            let grandTotalSell  = 0;

            for(let i = 0; i < this.buyList.length; i++)
            {
                grandTotalBuy   = numeral(grandTotalBuy).add(this.buyList[i].order_total).value();
            }

            for(let i = 0; i < this.sellList.length; i++)
            {
                grandTotalSell   = numeral(grandTotalSell).add(this.sellList[i].order_total).value();
            }

            let percentage  = 0;

            if(grandTotalBuy !=0 && grandTotalSell !=0) {

                let diff    = numeral(grandTotalSell).subtract(grandTotalBuy).value();
                let div     = numeral(diff).divide(grandTotalBuy).value();

                percentage  = numeral(div).multiply(100).value();
            }

            let clsSign = percentage < 0 ? 'fa-arrow-circle-o-down text-danger' : 'fa-arrow-circle-o-up text-success';
            clsSign     = (isNaN(percentage) || percentage ==0) ? '' : clsSign;

            return {

                updown : isNaN(percentage) ? '' : Math.abs(numeral(percentage).format('0.00')) + '%',
                sign: clsSign
            };
        },
    },

    filters: {

        format_date: function ( value ) {
            return moment(value).format('DD-MM-YYYY HH:mm:ss');
        },

        format_decimals: function ( value ) {

            return numeral(value).format('0.000000000');
        },

        nodecimal_places: function ( value ) {

            return numeral(value).format('0');
        }
    },

    methods: {

        listenOrders: function () {

            Echo.channel('update-order-vue')
                .listen('.ordersaved', data => {

                    let order   = data[this.ob_current].order;
console.log(order);
                    if(data.hasOwnProperty( this.ob_current )) {

                        if(data[this.ob_current].type == 1) {

                            this.buyList.push( order );

                            if(
                                (this.transaction_coin.coin_coin == order.order_maincoin) &&
                                (this.selected_coin.symbol == order.order_market) &&
                                (order.order_exchange == 1)
                            ) {

                                this.exchange_orders.push( order );
                            }
                        }
                        else {

                            this.sellList.push( order );
                        }

                        if(order.order_user_id == this.user_id) {

                            this.user_orders.push( order );
                        }

                    }
                })
                .listen('.orderdeleted', data => {

                    if(data['order_buysell'] == 1) {

                        let index   = this.indexWhere(this.buyList, item => item.order_id == data['order_id']);

                        Vue.delete(this.buyList, index);

                    } else {
                        let index   = this.indexWhere(this.sellList, item => item.order_id == data['order_id']);

                        Vue.delete(this.sellList, index);
                    }
                })
                .listen('.user_transactions', data => {

                    for(let i in data) {

                        if(data[i].user_id === this.user_id) {

                            data[i].update_at   = moment.unix(data[i].update_at).format('YYYY-MM-DD HH:mm:ss');
                            data[i].order_total = numeral(data[i].order_price).multiply(data[i].order_amount).value();

                            let order_row       = this.indexWhere(this.user_orders, item => item.order_id == data[i]['order_id']);

                            let new_order_amount    = numeral(this.user_orders[order_row].order_amount).sub(data[i]['order_amount']).value();

                            if(data[i]['order_buysell'] == 1) {

                                this.wallet_orders      = numeral(this.wallet_orders).add(data[i]['order_amount']).value();
                            }


                            if(new_order_amount === 0) {

                                Vue.delete(this.user_orders, order_row);
                            } else {

                                this.user_orders[order_row].order_amount    = new_order_amount;
                                this.user_orders[order_row].order_total     = numeral(new_order_amount).multiply(this.user_orders[order_row].order_price).value();
                            }

                            this.user_transactions.push(data[i]);

                            this.$refs.audioElm.play();
                            this.$notify({
                                group: 'notify-user',
                                type: 'success',
                                title: 'Transaction alert - ' + data[i]['order_market'],
                                text: 'Amt: ' + data[i]['order_amount'] + ' - @' + data[i]['order_price'] + ' - ' + data[i]['order_maincoin'],
                                duration: 5000,
                                speed: 100
                            })
                        }
                    }
                })
                .listen('.hide_exchange_selection', data => {

                    //Hiding the selected order from all open windows.
                    let index   = this.indexWhere(this.exchange_orders, item => item.order_id == data['order_id']);
                    Vue.delete(this.exchange_orders, index);

                    if(this.selected_coin.symbol == data['market']) {

                        //For user who put exchange order
                        if(this.user_id == data['order_user_id']) {

                            this.wallet_orders = numeral(this.wallet_orders).add(data['amount']).value();
                        }

                        //For user who is accepting exchange order
                        if(this.user_id == data['sell_user_id']) {

                            this.wallet_orders = numeral(this.wallet_orders).subtract(data['amount']).value();
                        }
                    }
                })
        },

        indexWhere: function(array, conditionFn) {
            const item = array.find(conditionFn);
            return array.indexOf(item)
        },

        set_current_user: function () {

            $.ajax({
                type: "GET",
                url: "/set-user",
                cache: false,
                success: function(response, status, error) {

                    this.user_id = response.user_id;
                }.bind(this),

                error: function(data,status,error){
                    console.log(error);
                }
            });
        },

        getTransactionCoins: function () {

            $.ajax({
                type: "GET",
                url: "/vue-dashboard/coins",
                cache: false,
                success: function(response, status, error) {

                    this.transaction_coins = response;

                }.bind(this),

                error: function(data,status,error){
                    console.log(error);
                }
            });
        },

        setDefaultCoin: function( symbol )
        {
            var response = _.find(this.transaction_coins, { coin_coin: symbol });
            if (response === undefined) {
              response = {};
            }
            return response;
        },

        setSelectedCoin: function( symbol )
        {
            return _.find(this.coins, { symbol: symbol });
        },

        set_transaction_coin: function ( coin ) {

            this.transaction_coin	= coin;
            this.fee_msg_BUY        = null;
            this.fee_msg_SELL       = null;
        },

        loadCoins: function () {

            $.ajax({
                type: "GET",
                url: '/vue-dashboard/fetch-ids-symbols',
                success: (response, status, error) => {

                    this.coins  = response;
                    //Loading maincoins only after market loaded
                    this.getTransactionCoins();
                },
                error: function(data,status,error){
                    console.log(error);
                }
            });
        },

        fetchOrders: function () {

            //Not fetching when market and main coin are same
            if(this.selected_coin.symbol === this.transaction_coin.coin_coin) {

                this.buyList            = [];
                this.sellList           = [];
                return false;
            }

            this.exchange_orders    = [];

            if(!$('.orderbook-exchange-spinner').hasClass('spinner-bg')) {

                $('.orderbook-exchange-spinner').toggleClass('spinner-bg');
                $('.orderbook-exchange-loader').toggleClass('loading');

            }

            let data  = {
                'market': this.selected_coin.symbol,
                'coin': this.transaction_coin.coin_coin
            };

            this.ob_current = this.transaction_coin.coin_coin + '-' + this.selected_coin.symbol;

            let self    = this;

            self.ordersRequest  = $.ajax({
                type: "POST",
                data: data,
                catch: false,
                url: '/fetch-orders',
                beforeSend: function () {

                    if(self.ordersRequest != null) {

                        //Aborting the same previous request if exists
                        self.ordersRequest.abort();
                        self.ordersRequest  = null;
                    }
                },
                success: function(response, status, error) {

                    self.coin_title     = data.coin;
                    self.market_title   = data.market;
                    if (response && response[self.ob_current]) {
                      self.buyList    = response[self.ob_current]['BUY'];
                      self.sellList   = response[self.ob_current]['SELL'];
                    } else {
                      self.buyList    = [];
                      self.sellList   = [];
                    }


                    for(let i in self.buyList) {

                        if( self.buyList[i].order_exchange == 1 && self.buyList[i].order_executed == 0) {

                            self.exchange_orders.push( self.buyList[i] );
                        }
                    }

                    $('.orderbook-exchange-spinner').toggleClass('spinner-bg');
                    $('.orderbook-exchange-loader').toggleClass('loading');

                },
                error: function(data,status,error){
                    console.log(error);
                }
            });
        },

        calculateBuy: function  () {

            let total               = numeral(this.order_amount_BUY).multiply(this.order_price_BUY).value();
            let formated            = math.format(total,{exponential:{lower:0,upper:Infinity}});
            this.order_total_BUY    = formated;

            if(this.order_total_BUY > this.wallet_balance)
            {
                this.order_error_BUY.order_total  = "Total amount exceeds the wallet balance"
            }
        },

        calculateSell: function  () {

            let total               = numeral(this.order_amount_SELL).multiply(this.order_price_SELL).value();
            let formated            = math.format(total,{exponential:{lower:0,upper:Infinity}});
            this.order_total_SELL   = formated;

            if(this.order_amount_SELL > this.wallet_orders)
            {
                Vue.set(this.order_error_SELL, 'order_amount', "Total quantity exceeds the wallet balance");
            }
        },

        save_order: function ( type ) {

            this['fee_msg_' + type] = null;

            if(this.selected_coin.symbol === this.transaction_coin.coin_coin) {

                this.showAlert();
                return false;
            }

            if(this.wallet_balance == 0 && type == 'BUY') {

                this.loadWalletAlert();
                return false;
            }

            if( this.wallet_orders == 0 && type == 'SELL')
            {
                this.$swal({

                    title: 'Not Available',
                    text: "You don't have any purchased " + this.selected_coin.symbol,
                    type: 'warning',
                    cancelButtonText: 'Ok Got It !',
                    showCancelButton: true,
                    showConfirmButton: false

                }).catch(this.$swal.noop);

                return false;
            }

            if(this[ 'order_amount_' + type ] === '') {
                Vue.set(this[ 'order_error_' + type ], 'order_amount', "Please fill your required amount");
                return false;
            }

            if(this[ 'order_price_' + type ] === '') {
                Vue.set(this[ 'order_error_' + type ], 'order_price', "Please fill your price");
                return false;
            }

            let self    = this;

            this.$swal({

                title: 'Confirm your ' + this.selected_coin.symbol + ' Order',
                text: 'Amount: ' +  this[ 'order_amount_' + type ] + ' ' + this.selected_coin.symbol + ' @' + this[ 'order_price_' + type ] + '-' + this.transaction_coin.coin_coin,
                type: 'info',
                cancelButtonText: 'Edit Order',
                showCancelButton: true,
                confirmButtonText: (type === 'BUY' ? 'BUY ' : 'SELL ') + this.selected_coin.symbol

            }).then(function(result){

                if(result.hasOwnProperty('dismiss')) return false;

                self['spinner_' + type] = true;

                let order = {

                    order_market: self.selected_coin.symbol,
                    order_amount: self[ 'order_amount_' + type ],
                    order_price: self[ 'order_price_' + type ],
                    order_total: self['order_total_' + type],
                    order_maincoin: self.transaction_coin.coin_coin,
                    order_maincoin_id: self.transaction_coin.coin_id,
                    order_coin_id: self.selected_coin.coin_id,
                    wallet_balance: type === 'BUY' ? self.wallet_balance : self.wallet_orders,
                    order_type: type === 'BUY' ? 1 : 2
                };

                $.ajax({
                    type: "POST",
                    url: '/saveorders',
                    data: order,
                    cache: false,
                    success: function(response, status, error) {


                        if(response.fee_error === 1) {

                            self.fee_msg_class      = 'alert alert-danger';
                            self['fee_msg_' + type] = "We are unable to process your request, <a href=\"./contact\">Click Here</a> to report this issue";
                            self['spinner_' + type] = false;
                            return false;
                        } else if(response.fee_error === 2) {

                            self.fee_msg_class      = 'alert alert-warning';
                            self['fee_msg_' + type] = "You don't have enough <span  style=\"color: #FF5733\">ETH</span>, <a href=\"./exchange#/wallet\">Click Here</a> to load <i style=\"color: #FF5733\">" + parseFloat(response.fee).toString() + "</i> ETH for making this order";
                            self['spinner_' + type] = false;
                            return false;
                        }else if( response.errors){

                            self[ 'order_error_' + type ]    = self.formatValidatorErrors(response.errors);
                            self['spinner_' + type] = false;
                        }
                        else {

                            if(type === 'BUY') {
                                self.wallet_balance = numeral(self.wallet_balance).subtract(response.order_total).value();
                            }
                            else {
                                self.wallet_orders = numeral(self.wallet_orders).subtract(response.order_amount).value();
                            }

                            self[ 'order_success_' + type ] = true;

                            setTimeout(function () {

                                self[ 'order_success_' + type ] = false;
                                self[ 'order_amount_' + type ]  = '';
                                self[ 'order_price_' + type ]   = '';
                                self[ 'order_total_' + type ]   = '';

                                self['spinner_' + type] = false;
                            }, 5000);
                        }
                    },
                    error: function(data,status,error){
                        console.log(error);
                    }
                });
            }).catch(this.$swal.noop);
        },

        exchange_order: function ( id, index ) {

            this.$swal({

                title: 'Are you sure?',
                text: 'You want to Accept this Exchange',

                type: 'info',

                showCancelButton: true,

                confirmButtonText: 'Yes, I am !',
                cancelButtonText: 'No, I don\'t want'

            }).then(( result ) => {

                if(result.hasOwnProperty('dismiss')) return false;

                $.ajax({
                    type: "POST",
                    url: '/exchange-orders',
                    data: {
                        order_id: id
                    },
                    success: function(response, status, error) {

                        if(response) {
                            Vue.delete( this.exchange_orders, index );
                        }

                    }.bind(this),
                    error: function(data,status,error){
                        console.log(error);
                    }
                });

            }).catch(this.$swal.noop);
        },

        loadWalletAlert: function () {

            let self	= this;

            this.$swal({

                title: 'ZERO BALANCE',
                text: 'Your '+ this.transaction_coin.coin_coin +' balance is ZERO. Please load your wallet.',
                type: 'warning',
                cancelButtonText: 'Ok Got It !',
                showCancelButton: true,
                confirmButtonText: 'Go to Wallet Page'

            }).then( function(result) {

                if(result.hasOwnProperty('dismiss')) return false;

                location.href   = location.href	= "#/wallet";
            }).catch(this.$swal.noop);
        },

        showAlert: function () {

            let self	= this;

            this.$swal({

                title: 'Invalid Operation',
                text: 'Select another coin. You can\'t buy or sell '+ this.selected_coin.symbol +' with '+ this.transaction_coin.coin_coin +' itself!',
                type: 'info',
                cancelButtonText: 'Ok Got It !',
                showCancelButton: true,
                showConfirmButton: false

            }).catch(this.$swal.noop);
        },

        fetchUserOrders: function () {

            $.ajax({
                type: "GET",
                url: '/vue-dashboard/fetch-user-orders',
                success: function(response, status, error) {

                    this.user_orders  = response;

                    $('#spinner-orders').removeClass('spinner-bg');
                    $('#loader-div-orders').removeClass('loading');
                }.bind(this),
                error: function(data,status,error){
                    console.log(error);
                }
            });
        },

        fetchUserTransactions: function () {
            $.ajax({
                type: "GET",
                url: '/fetch-user-transactions',
                success: function(response, status, error) {

                    Vue.set(this, 'user_transactions', response);

                    $('#spinner-transactions').removeClass('spinner-bg');
                    $('#loader-div-transactions').removeClass('loading');
                }.bind(this),
                error: function(data,status,error){
                    console.log(error);
                }
            });
        },

        deleteOrder: function (id, index) {

            this.$swal({

                title: 'Are you sure?',
                text: 'You want to delete this Order',

                type: 'warning',

                showCancelButton: true,

                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, keep it'

            }).then((result) => {

                if(result.hasOwnProperty('dismiss')) return false;

                $.ajax({
                    type: "POST",
                    url: '/vue-dashboard/delete-order',
                    data: {
                        order_id: id
                    },
                    success: (response, status, error) => {

                        if(response.delete) {

                            if (response.type == 1) {

                                this.wallet_balance = numeral(this.wallet_balance).add(response.amount).value();
                            } else {

                                this.wallet_orders  = numeral(this.wallet_orders).add(response.amount).value();
                            }
                            Vue.delete( this.user_orders, index );
                        }

                    },
                    error: function(data,status,error){
                        console.log(error);
                    }
                });

            }).catch(this.$swal.noop);
        },

        fetchWalletBalance: function () {

            let post_data = {coin_id: this.transaction_coin.coin_id};

            $.ajax({
                type: "POST",
                url: '/vue-dashboard/fetch-wallet',
                data: post_data,
                cache: false,
                success: (response, status, error) => {

                    let amount  = response.amount  == null ? 0 : response.amount;
                    let inorder = response.inorder == null ? 0 : response.inorder;
                    this.wallet_balance = numeral(amount).subtract(inorder).value();

                    this.spinner_BUY    = false;
                },
                error: function(data,status,error){
                    console.log(data);
                }
            });
        },

        fetchExecutedOrders: function () {

            let post_data = {coin_id: this.selected_coin.coin_id};
            let self    = this;

            self.executedOrdersRequest   = $.ajax({
                type: "POST",
                url: '/vue-dashboard/fetch-orders-executed',
                data: post_data,
                cache: false,
                beforeSend: function () {


                    if(self.executedOrdersRequest != null) {

                        //Aborting the same previous request if exists
                        self.executedOrdersRequest.abort();
                        self.executedOrdersRequest  = null;
                    }
                },
                success: (response, status, error) => {

                    let amount  = response.amount  == null ? 0 : response.amount;
                    let inorder = response.inorder == null ? 0 : response.inorder;

                    this.wallet_orders  = numeral(amount).subtract(inorder).value();
                    this.spinner_SELL   = false;
                },
                error: function(data,status,error){
                    console.log(error);
                }
            });
        },

        chartDisplay: function () {

            $('#spinner').addClass('spinner-bg');
            $('#loader-div').addClass('loading');

            let self    = this;

            let post_data = {
                symbol: this.selected_coin.symbol,
                coin_id: this.selected_coin.coin_id
            };


            self.chartRequest   = $.ajax({
                type: "GET",
                url: '/chartdata',
                data: post_data,
                cache: false,
                beforeSend: function () {

                    if(self.chartRequest != null) {

                        //Aborting the same previous request if exists
                        self.chartRequest.abort();
                        self.chartRequest  = null;
                    }
                },
                success: function(response, status, error) {

                    Vue.set(this, 'chartData', response.data);
                    Vue.set(this, 'chartTotal', response.total);

                    let clsSign = response.updown < 0 ? 'fa-arrow-circle-o-down text-danger' : 'fa-arrow-circle-o-up text-success';
                    clsSign     = isNaN(response.updown) || (response.updown == 0)  ? '' : clsSign;

                    this.chartUpDown    =  {

                        updown : isNaN(response.updown ) ? '' : Math.abs(numeral(response.updown ).format('0.00')) + '%',
                        sign: clsSign
                    };

                    let  groupingUnits = [[
                            'week',                         // unit name
                            [1]                             // allowed multiples
                        ], [
                            'month',
                            [1, 2, 3, 4, 6]
                        ]];

                    let self    = this;
                    // create the chart
                    let chart = highChart.stockChart('coin-chart', {

                        rangeSelector: {
                            selected: 1
                        },

                        yAxis: [{
                            startOnTick: false,
                            endOnTick: false,
                            labels: {
                                align: 'right',
                                x: -3
                            },
                            title: {
                                text: 'UP & DOWN'
                            },
                            height: '60%',
                            lineWidth: 2,
                            resize: {
                                enabled: true
                            }
                        }, {
                            labels: {
                                align: 'right',
                                x: -3
                            },
                            title: {
                                text: 'Volume'
                            },
                            top: '65%',
                            height: '35%',
                            offset: 0,
                            lineWidth: 2
                        }],

                        tooltip: {
                            split: false
                        },

                        plotOptions: {
                            series: {
                                dataGrouping: {
                                    units: groupingUnits
                                }
                            },
                            candlestick: {
                                color: '#F15C70',
                                upColor: '#0AE39E'
                            }
                        },
                        exporting: { enabled: false },

                        series: [{
                            type: 'candlestick',
                            name: post_data.symbol,
                            id: 'aapl',
                            zIndex: 2,
                            data: response.graph
                        }, {
                            type: 'column',
                            name: 'Volume',
                            id: 'volume',
                            data: response.volume,
                            yAxis: 1
                        }],
                        xAxis: {
                            events: {
                                setExtremes: function (event) {

                                    post_data.start_date = numeral(event.min).divide(1000).value();
                                    post_data.end_date = numeral(event.max).divide(1000).value();

                                     if(event.hasOwnProperty('DOMEvent') && event.DOMEvent.type !== 'mouseup') {
                                         return false;
                                     } //continue only in mouse release

                                    $.ajax({
                                        type: "POST",
                                        url: '/chartzoom',
                                        data: post_data,
                                        cache: false,
                                        success: function(response, status, error) {

                                            self.chartTotal = response.total;

                                            let clsSign = response.updown < 0 ? 'fa-arrow-circle-o-down text-danger' : 'fa-arrow-circle-o-up text-success';
                                            clsSign     = isNaN(response.updown) || (response.updown == 0)  ? '' : clsSign;

                                            self.chartUpDown    =  {
                                                updown : isNaN(response.updown ) ? '' : Math.abs(numeral(response.updown ).format('0.00')) + '%',
                                                sign: clsSign
                                            };
                                        }.bind(this),
                                        error: function(data,status,error){
                                            console.log(error);
                                        }
                                    });
                                }
                            }
                        }
                    });
                    $('.highcharts-credits').hide();

                    $('#loader-div').removeClass('loading');
                    $('#spinner').removeClass('spinner-bg');

                }.bind(this),
                error: function(data,status,error){
                    console.log(error);
                }
            });
        },

        formatValidatorErrors: function (errors) {

            let formatted = [];

            for(let i in errors) {

                formatted[i]    = errors[i][0];
            }

            return formatted;
        }

    },

}
</script>
