<template>
  <div class="animated fadeIn">
    <div class="row container-fluid">
      <div class="col-lg-12">
        <h2>Transactions</h2>
       <div class="card">
         <div class="card-body">
           <table class="table table-responsive-sm table-sm" width="100%">
               <thead>
               <th>Date</th>
               <th>Type</th>
               <th>Buy/Sell</th>
               <th>Amount</th>
               <th></th>
               <th>Fee Amount</th>
               <th>Status</th>
               </thead>
             <tbody>
             <tr v-for="listdata in  list">
               <td>{{listdata.transaction_date}}</td>
                 <td>
                   <span v-if="listdata.transaction_type == 1">Deposit</span>
                   <span v-if="listdata.transaction_type == 2">Withdraw</span>
                   <span v-if="listdata.transaction_type == 3">Order Execution</span>
               </td>
               <td>
                   <span v-if="listdata.transaction_buysell == 1">Buy</span>
                   <span v-if="listdata.transaction_buysell == 2">Sell</span>
               </td>
               <td>{{ listdata.amount }}</td>
               <td><img v-bind:src="'/img/coin/32/'+listdata.main_coin+'.png'" onerror="this.src='/img/coin/32/noimage.png'" v-bind:title="listdata.main_coin"></td>
               <td>{{ listdata.gas_fee_amount }}</td>
               <td style="font-size: 1.5em">
                   <i class="fa fa-check-circle text-success" v-if="listdata.status == 1" title="Confirmed"></i>
                   <i class="fa fa-exclamation-circle text-warning" v-if="listdata.status == 0" title="Unconfirmed"></i>
               </td>
             </tr>
             </tbody>
           </table>
    
           
 <ul class="pager">
    <li class="previous" v-show="list.previous">
        <a class="page-scroll" v-on:click="getRemaining('previous')" href="#">Previous</a>
    </li>
    <li class="next" v-show="list.next">
        <a class="page-scroll" v-on:click="getRemaining('next')" href="#">Next</a>
    </li>
</ul>
<!-- Pagination -->
		<nav>
	        <ul class="pagination">
	            <li v-if="pagination.current_page > 1">
	                <a href="#" aria-label="Previous"
	                   @click.prevent="changePage(pagination.current_page - 1)">
	                    <span aria-hidden="true">«</span>
	                </a>
	            </li>
	            <li v-for="page in pagesNumber"
	                v-bind:class="[ page == isActived ? 'active' : '']">
	                <a href="#"
	                   @click.prevent="changePage(page)">{{ page }}</a>
	            </li>
	            <li v-if="pagination.current_page < pagination.last_page">
	                <a href="#" aria-label="Next"
	                   @click.prevent="changePage(pagination.current_page + 1)">
	                    <span aria-hidden="true">»</span>
	                </a>
	            </li>
	        </ul>
	    </nav>
         </div>
       </div>
      </div>
    </div>
  </div>
</template>

<script>

    export default {
        name: 'transaction',

        data()
        {
			return {
				list:'',
				pagination: {
					total: 0, 
					per_page: 2,
					from: 1, 
					to: 0,
					current_page: 1
				},
			offset: 4,
			}
        },
        computed: {
        isActived: function () {
            return this.pagination.current_page;
        },
        pagesNumber: function () {
            if (!this.pagination.to) {
                return [];
            }
            var from = this.pagination.current_page - this.offset;
            if (from < 1) {
                from = 1;
            }
            var to = from + (this.offset * 2);
            if (to >= this.pagination.last_page) {
                to = this.pagination.last_page;
            }
            var pagesArray = [];
            while (from <= to) {
                pagesArray.push(from);
                from++;
            }
            return pagesArray;
        }
    },
        mounted()
        {
			this.fetchtransactions(this.pagination.current_page);
			   this.interval = setInterval(function () {
				this.fetchtransactions(this.pagination.current_page);
				
		  }.bind(this), 30000);
			
			
        },
        methods:
        {
			fetchtransactions(page)
			{
		
			 axios.get('api/transactions?page='+page).then((res) => {
			    this.list={};
				
                this.list = res.data.data;
                //this.$set('pagination', res.data.pagination);
                
                this.pagination=res.data.pagination
            });
         
		},
			getRemaining() {
            axios.get('api/transactions?page=${this.list.current_page}')
                .then((response) => {
					this.list={};
                    this.list = res.data.data;
                })
                .catch(() => {
                    console.log('handle server error from here');
                });
      
        },
        changePage: function (page) {
          this.pagination.current_page = page;
          this.fetchtransactions(page);
      }
        }

    }
</script>

