// Here you can add other styles

body,html{
  //background-color: #E9ECEF;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
  color: rgba(192, 192, 192, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(192, 192, 192, 0.26);
}

/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

labe {
  display: block;
}

.title {
  text-align: center
}

form {
  max-width: 936px;
  background: #f5f5f5;
  border: 1px solid #999;
  border-radius: 4.5px;
  padding: 18px;
  margin: 18px auto;
}

.flex {
  display: flex;
}

.wallet-item.flex {
  justify-content: space-between;
}

.wallet-name.flex {
  align-items: center;
}

.wallet-name .material-icons {
  margin-right: 9px;
}

.currency-exchange-wallet-sel,
select {
  width: 100%;
  height: 36px;
}
.currency-header.flex{
  justify-content: space-between;
  align-items: baseline;
  border-top: 1px solid #C7CFD9;
}
.balance-label{
  color: #888;
  font-weight: 400;
  font-size:90%;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 36px;
}

.select2-container--default .select2-selection--single {
  height: 36px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 34px;
}

.row.wallets {
  margin-bottom: 18px;
}

.delta-from,
.delta-to {
  text-align: right;
  padding-right: 23px;
  height: 18px;
  overflow: hidden
}

.delta-from {
  color: #f44336;
}

.delta-to {
  color: #4caf50
}

.exchange-rate-badge {
  text-align: center;
  padding: 3px;
  background: rgba(192, 192, 192, 0.06);
  max-width: 170px;
  margin: 0 auto;
  border-radius: 36px;
  font-size: 12px;
}

.smart-input.flex {
  justify-content: center;
  align-content: center;
  align-items: baseline;
  padding: 0;
  flex-direction: row;
}

.input-group-amount {
  width: auto;
  min-width: 69px;
}

.input-group-amount .input-amount {
  border: none;
  background: none;
  padding-left: 4px;
}

.smart-input .select2-container--default .select2-selection--single .select2-selection__rendered{
  color: #a2a2a2
}

.smart-input .select2-container--default .select2-selection--single{
  border: none;
}

.box-left {
  float: left;
}

.box-right {
  float: right;
  color: #f17000;
}

.modal-header {
   .close:focus {
     outline:none !important
   }
}

input.btn {
  cursor: pointer;
}

.background-modal-title { background-color: #f0f3f5 }

.modal-open .modal  {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none;
}

.btn:focus, .btn:active, .btn::-moz-focus-inner, .btn.active, .btn:focus:active {

  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.spinner-wrapper {
  position: relative;
}

.spinner-bg {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  /*dim the background*/
  top:0;
  left:0;
  width:100%;
  height:100%;
  color:black;
  text-align: center;
  z-index: 900;
}

/* Absolute Center Spinner */
.loading {
  position: absolute;
  z-index: 999;
  height: 2em;
  width: 2em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(192, 192, 192, 0.3);
}




/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(192, 192, 192, 0.75) 1.5em 0 0 0, rgba(192, 192, 192, 0.75) 1.1em 1.1em 0 0, rgba(192, 192, 192, 0.75) 0 1.5em 0 0, rgba(192, 192, 192, 0.75) -1.1em 1.1em 0 0, rgba(192, 192, 192, 0.5) -1.5em 0 0 0, rgba(192, 192, 192, 0.5) -1.1em -1.1em 0 0, rgba(192, 192, 192, 0.75) 0 -1.5em 0 0, rgba(192, 192, 192, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(192, 192, 192, 0.75) 1.5em 0 0 0, rgba(192, 192, 192, 0.75) 1.1em 1.1em 0 0, rgba(192, 192, 192, 0.75) 0 1.5em 0 0, rgba(192, 192, 192, 0.75) -1.1em 1.1em 0 0, rgba(192, 192, 192, 0.75) -1.5em 0 0 0, rgba(192, 192, 192, 0.75) -1.1em -1.1em 0 0, rgba(192, 192, 192, 0.75) 0 -1.5em 0 0, rgba(192, 192, 192, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.nav-link-disabled {

  display: block;
  padding: 0.75rem 1rem;
  color: #9fb0b6;
  text-decoration: none;
  background: transparent;
}

.nav-link-disabled i {

  display: inline-block;
  width: 20px;
  margin: 0 0.5rem 0 0;
  font-size: 14px;
  color: #9fb0b6;
  text-align: center;
}

@keyframes highlight {
  50%  {background-color: #99ebff;}
  100% { background-color: white; }
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}


